<div class="w-full max-w-prose mx-auto">
  <div class="mb-4">
    <div class="show-label">Name</div>
    <div class="show-field"><%= @standards_import.name %></div>
  </div>
  <div class="mb-4">
    <div class="show-label">Email</div>
    <div class="show-field"><%= @standards_import.email %></div>
  </div>
  <div class="mb-4">
    <div class="show-label">Organization</div>
    <div class="show-field"><%= @standards_import.organization %></div>
  </div>
  <div class="mb-4">
    <div class="show-label">Notes</div>
    <div class="show-field"><%= @standards_import.notes %></div>
  </div>
  <div class="mb-4">
    <div class="show-label">Files</div>
    <div class="show-field"><%= @standards_import.files.map{|file| file.filename.to_s}.join(", ") %></div>
  </div>
</div>
