<div>
Name: <%= @standards_import.name %>
</div>
<div>
Email: <%= @standards_import.email %>
</div>
<div>
Organization: <%= @standards_import.organization %>
</div>
<div>
Notes: <%= @standards_import.notes %>
</div>
<div>
File Names: <%= @standards_import.files.map{|file| file.filename.to_s}.join(", ") %>
</div>