<tr class="border-b">
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= work_process.title %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= work_process.sort_order %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= work_process.description %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= work_process.default_hours %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= work_process.minimum_hours %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= work_process.maximum_hours %>
  </td>
</tr>
