<%= render("index_header",
      resources: resources,
      search_term: search_term,
      page: page,
      show_search_bar: show_search_bar) %>

<%= content_for(:before_main) %>

<% if content_for?(:main) %>
<%= content_for(:main) %>
<% else %>
<section aria-labelledby="title_id" class="main-content__body main-content__body--flush">
  <%= render(
        "collection",
        collection_presenter: page,
        collection_field_name: resource_name,
        page: page,
        resources: resources,
        table_title: "page-title"
      ) %>

  <%= render("pagination", resources: resources) %>
</section>
<% end %>

<%= content_for(:after_main) %>
