<div class="flex flex-col w-full mx-auto mt-5">
  <h1 class="mx-auto text-center">Log in</h1>
  <div class="w-full max-w-prose mx-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "w-full max-w-prose bg-white shadow-md rounded p-8 pt-6 pb-8 mb-4"}) do |f| %>
      <div class="field text-sm mb-4">
        <%= f.label :email, class: "font-semibold" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full mt-2 rounded" %>
      </div>

      <div class="field text-sm mb-4">
        <%= f.label :password, class: "font-semibold" %><br>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full mt-2 rounded" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-4">
          <%= f.check_box :remember_me, class: "rounded mr-1" %>
          <%= f.label :remember_me, class: "align-middle" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
