<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <%= render "stylesheet" %>
    <script src="/assets/foxit/lib/UIExtension.full.js"></script>
    <link href="/assets/foxit/lib/UIExtension.css" media="screen" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag if defined?(csp_meta_tag) %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= render "javascript" %>
</html>
