<%= render partial: "occupation_standards/header" %>

<nav class="flex px-5 py-3 text-gray-700 bg-seafoam-900" aria-label="Breadcrumb">
    <div class="max-w-screen-xl mx-auto w-full px-4 lg:px-8">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <%= link_to home_page_path, class: "inline-flex items-center text-sm font-medium text-gray-50 hover:text-white" do %>
                    <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                    </svg>
                    Home
                <% end %>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                    </svg>
                    <%= link_to "Browse by State", states_path, class: "ml-1 text-sm font-medium md:ml-2 text-gray-50 hover:text-white" %>
                </div>
            </li>
        </ol>
    </div>
</nav>

<section aria-label="main content" role="main" class="bg-seafoam-50">
  <div class="mx-auto max-w-screen-xl py-8 px-4 sm:py-16 lg:px-6">
    <div>
      <h3 class="font-bold text-2xl mt-4 mb-2">Browse by State</h3>
      <div>

        <div class="grid grid-flow-row grid-cols-3">
        <% state_info = State.all.pluck(:name, :id) %>
        <% names_by_letter = state_info.group_by { |state| state[0][0] } %>

            <% names_by_letter.each do |letter, names| %>
            <div class="letter-group flex items-start py-4">
                <div class="w-14 bg-seafoam-800 text-white uppercase font-bold text-xl text-center py-2 rounded">
                <%= letter.first %>
                </div>
                    <div class="px-4 flex-grow">
                    <% names.each do |name, id| %>
                        <%= link_to occupation_standards_path(state_id: id), class: "hover:font-bold" do %>
                            <span class="block"><%= name %></span>
                        <% end %>
                    <% end %>
                    </div>
                </div>
            <% end %>
        </div>

      </div>
    </div>
</section>
