<div class="relative">
  <div class="flex justify-between">
    <button class="px-4 flex items-center" data-collapse-toggle="search-filters" type="button" aria-controls="search-filters" aria-expanded="<%= filters_aria_expanded %>">
      <span class="text-sm">Expand Filters</span>
      <div>
        <svg aria-label="arrow down icon" class="h-5 w-5" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.5 5.75L7 9.25L10.5 5.75" stroke="#7E868F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </button>
    <button class="px-4 block text-sm font-bold my-3" type="button" data-action="search#clearForm">Clear All</button>
  </div>

  <div id="search-filters" class="-mt-[2px] rounded-b shadow-xl w-full px-4 bg-seafoam-100 absolute <%= filters_class %>">
    <!-- begin filter options -->
    <div class="flex flex-col lg:space-x-2 lg:flex-row lg:divide-x divide-seafoam-600">
      <div data-controller="check-box-filter" data-check-box-filter-displayable-class="check-box-filter-count--displayable">
        <div class="font-bold">Program Type</div>
        <button id="dropdownPrgrmTypeButton" data-dropdown-toggle="dropdownPrgrmType" class="my-2 mr-2 flex items-center space-x-2 rounded border border-primary-200 bg-white px-2 py-2.5 text-center font-bold text-seafoam-900 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-primary-200" type="button">
          <div class="flex">Type</div>
          <div class="flex h-5 w-5 items-center rounded-full bg-seafoam-800 text-white check-box-filter-count" data-check-box-filter-target="countWrapper">
            <div class="w-full text-center text-sm" data-check-box-filter-target="count"></div>
          </div>
          <svg aria-label="arrow down icon" class="h-5 w-5" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 5.75L7 9.25L10.5 5.75" stroke="#066b6e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>

        <!-- PrgrmTypeButton Dropdown menu -->
        <div id="dropdownPrgrmType" class="z-10 hidden rounded-b bg-white shadow">
          <ul class="space-y-1 p-2 text-sm text-gray-700" aria-labelledby="dropdownPrgrmTypeButton">
            <li>
              <div class="flex items-center rounded p-2">
                <%= check_box_tag "ojt_type[hybrid]", "1", params.dig(:ojt_type, :hybrid), id: "hybrid", class: "h-5 w-5 rounded border-gray-300 bg-gray-100 text-seafoam-800 focus:ring-2 focus:ring-seafoam-500", "data-search-target": "checkbox", "data-check-box-filter-target": "input", "data-action": "check-box-filter#updateCount" %>
                <%= label_tag "hybrid", "Hybrid", class: "ml-3 w-full rounded text-left text-sm font-medium text-seafoam-900" %>
              </div>
            </li>
            <li>
              <div class="flex items-center rounded p-2">
                <%= check_box_tag "ojt_type[competency]", "1", params.dig(:ojt_type, :competency), id: "competency", class: "h-5 w-5 rounded border-gray-300 bg-gray-100 text-seafoam-800 focus:ring-2 focus:ring-seafoam-500", "data-search-target": "checkbox", "data-check-box-filter-target": "input", "data-action": "check-box-filter#updateCount" %>
                <%= label_tag "competency", "Competency", class: "ml-3 w-full rounded text-left text-sm font-medium text-seafoam-900" %>
              </div>
            </li>
            <li>
              <div class="flex items-center rounded p-2">
                <%= check_box_tag "ojt_type[time]", "1", params.dig(:ojt_type, :time), id: "time", class: "h-5 w-5 rounded border-gray-300 bg-gray-100 text-seafoam-800 focus:ring-2 focus:ring-seafoam-500", "data-search-target": "checkbox", "data-check-box-filter-target": "input", "data-action": "check-box-filter#updateCount" %>
                <%= label_tag "time", "Time", class: "ml-3 w-full rounded text-left text-sm font-medium text-seafoam-900" %>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="lg:pl-4 w-full">
        <div class="font-bold">Locale</div>

        <div class="flex items-start justify-between">
          <div class="flex grow">
            <%= label_tag :state_id, "State", class: "mb-2 hidden font-medium text-gray-900" %>
            <div class="my-2 mr-2 flex w-full">
              <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-seafoam-200 px-2 py-2.5 font-bold text-seafoam-900"> State </span>
              <%= select_tag :state_id, options_from_collection_for_select(State.all, :id, :name, params[:state_id]), class: "block w-full min-w-0 rounded-none rounded-r border border-gray-300 bg-white px-2 py-2.5 text-gray-900 focus:border-primary-200 focus:ring-primary-200", include_blank: true, "data-search-target": "textField" %>
            </div>
          </div>

          <span class="my-4 mr-2">or</span>

          <div>
            <div>
              <button id="dropdownNationalButton" data-dropdown-toggle="dropdownNational" class="my-2 mr-2 flex items-center space-x-2 rounded border border-primary-200 bg-white px-2 py-2.5 text-center font-bold text-seafoam-900 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-primary-200" type="button">
                <div>National</div>
                <div class="flex h-5 w-5 items-center rounded-full bg-seafoam-800 text-white">
                  <div class="w-full text-center text-sm">1</div>
                </div>
                <svg aria-label="arrow down icon" class="h-5 w-5" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.5 5.75L7 9.25L10.5 5.75" stroke="#066b6e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>

              <!-- National Dropdown menu -->
              <div id="dropdownNational" class="z-10 hidden rounded-b bg-white shadow">
                <ul class="space-y-1 p-2 text-sm text-gray-700" aria-labelledby="dropdownNationalButton">
                  <li>
                    <div class="flex items-center rounded p-2">
                      <%= check_box_tag "national_standard_type[guideline_standard]", "1", params.dig(:national_standard_type, :guideline_standard), id: "guideline_standards", class: "h-5 w-5 rounded border-gray-300 bg-gray-100 text-seafoam-800 focus:ring-2 focus:ring-seafoam-500", "data-search-target": "checkbox" %>
                      <%= label_tag "guideline_standards", "National Guideline Standards", class: "ml-3 w-full rounded text-left text-sm font-medium text-seafoam-900" %>
                    </div>
                    <div class="flex items-center rounded p-2">
                      <%= check_box_tag "national_standard_type[program_standard]", "1", params.dig(:national_standard_type, :program_standard), id: "program_standards", class: "h-5 w-5 rounded border-gray-300 bg-gray-100 text-seafoam-800 focus:ring-2 focus:ring-seafoam-500", "data-search-target": "checkbox" %>
                      <%= label_tag "program_standards", "National Program Standards", class: "ml-3 w-full rounded text-left text-sm font-medium text-seafoam-900" %>
                    </div>
                    <div class="flex items-center rounded p-2">
                      <%= check_box_tag "national_standard_type[occupational_framework]", "1", params.dig(:national_standard_type, :occupational_framework), id: "occupational_frameworks", class: "h-5 w-5 rounded border-gray-300 bg-gray-100 text-seafoam-800 focus:ring-2 focus:ring-seafoam-500", "data-search-target": "checkbox" %>
                      <%= label_tag "occupational_frameworks", "National Occupational Frameworks", class: "ml-3 w-full rounded text-left text-sm font-medium text-seafoam-900" %>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <button data-tooltip-target="national-standards-info" data-tooltip-placement="bottom" data-tooltip-trigger="click" type="button" class="py-0 mb-2 text-center text-sm font-medium text-seafoam-800 focus:outline-none focus:ring-4 focus:ring-slate-300" type="button">What is this?</button>
            <div id="national-standards-info" role="tooltip" class="tooltip invisible absolute z-10 inline-block rounded-lg bg-primary-800 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm">
              National standards are...
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end filter options -->
  </div>
</div>
