<h1>Edit <%= @file_import.filename %></h2>

<%= form_with model: @file_import, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |f| %>
  <div class="mb-4">
    <%= f.label :status, class: "form-label" %>
    <%= f.select :status, options_for_select(FileImport.statuses.map { |k, v| [k.titleize, k] }), class: "form-field" %>
  </div>
  <div>
    <%= f.submit "Update", class: "btn-primary" %>
  </div>
<% end %>
