<%= render partial: "occupation_standards/header" %>

<section aria-label="main content" role="main" class="bg-seafoam-50 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl border border-dotted border-yellow-300 py-8 px-4 sm:py-16 lg:px-6">
    <div>
      <h3 class="font-bold text-2xl mt-4 mb-2">Definitions</h3>

      <h3 class="font-bold text-xl mt-6 mb-1">Apprenticeship Program Standards</h3>
      <p>Apprenticeship Program Standards are an organized, written plan outlining the terms and conditions of employment, training, and supervision for apprentices. Standards include an outline of the work processes in which an apprentice will receive work experience and training on the job, the related instruction in technical subjects related to the occupation, and a progressive wage schedule, among other information.</p>
      <p class="text-xs">Source: CFR Part 29</p>
    
      <h3 class="font-bold text-xl mt-6 mb-1">Work process schedule</h3>
      <p>The work process schedule outlines the major job functions, competencies, and/or hours an apprentice completes in a registered apprenticeship program. It outlines what apprentices are expected to learn on the job with the support of a mentor.</p>
      <p class="text-xs">Source: Introduction in the NOFs</p>

      <h3 class="font-bold text-xl mt-6 mb-1">Related instruction</h3>
      <p>Related instruction is the coursework that apprentices undertake to supplement on-the-job learning. This instruction provides apprentices with the knowledge of the theoretical and technical subjects related to their occupation.</p>
      <p class="text-xs">Source: Introduction in the NOFs (1st sentence), OA’s <%= link_to "Apprenticeship Requirements Reference Guide", "https://www.apprenticeship.gov/sites/default/files/apprenticeship-requirements-reference-guide.pdf", class: "default-colors", target: :_blank %> (2nd sentence)</p>
      
      <h3 class="font-bold text-xl mt-6 mb-1">Appendix A</h3>
      <p>Appendix A is a key part of the Apprenticeship Program Standards that outline the terms and conditions of the apprenticeship. Appendix A includes the Work Process Schedule, Related Instruction Outline, Apprentice Wage Schedule, Ratio of Apprentices to Journeyworkers, Type of Occupation, Term of Apprenticeship, Selection Procedures, and Probationary Period.</p>
      <p class="text-xs">Source: OA’s <%= link_to "Apprenticeship Requirements Reference Guide", "https://www.apprenticeship.gov/sites/default/files/apprenticeship-requirements-reference-guide.pdf", class: "default-colors", target: :_blank %></p>
      
      <h3 class="font-bold text-xl mt-6 mb-1">Time-Based Programs</h3>
      <p>In Time-based programs, apprentices complete a required number of hours in on-the-job training and related instruction. </p>
      <p class="text-xs">Source: OA’s <%= link_to "Building Registered Apprenticeship Programs: A Quick-Start Toolkit", "https://www.doleta.gov/oa/employers/apprenticeship_toolkit.pdf", class: "default-colors", target: :_blank %></p>
      
      <h3 class="font-bold text-xl mt-6 mb-1">Competency-Based Programs</h3>
      <p>In Competency-based programs, apprentices progress at their own pace – they demonstrate competency in skills and knowledge through assessment tests, but are not required to complete a specific number of hours.</p>
      <p class="text-xs">Source: OA’s <%= link_to "Building Registered Apprenticeship Programs: A Quick-Start Toolkit", "https://www.doleta.gov/oa/employers/apprenticeship_toolkit.pdf", class: "default-colors", target: :_blank %></p>
      
      <h3 class="font-bold text-xl mt-6 mb-1">Hybrid Programs</h3>
      <p>Hybrid programs blend both competency- and time-based strategies, using a minimum and maximum range of hours for each major job function and the successful demonstration of identified competencies.</p>
      <p class="text-xs">Source: OA’s <%= link_to "Building Registered Apprenticeship Programs: A Quick-Start Toolkit", "https://www.doleta.gov/oa/employers/apprenticeship_toolkit.pdf", class: "default-colors", target: :_blank %></p>


    </div>
</section>
