<section aria-label="hero section" class="occ-hero bg-no-repeat bg-cover bg-center bg-gray-700">
  <%= render partial: "layouts/nav" %>

  <div class="px-4 py-8 mx-auto lg:py-16">

    <div class="container mx-auto grid items-center gap-8 lg:gap-12 lg:grid-cols-12">
      <div class="col-span-6">
        <%= image_tag("icon-illustration.png", alt: "An illustration of industry-related icons") %>
      </div>
      <div class="col-span-6 text-center sm:mb-6 lg:text-left lg:mb-0">
        <h1 class="px-4 mb-3 text-3xl font-bold leading-none tracking-tight text-gray-100 md:text-4xl xl:text-5xl">Jumpstart Your Apprenticeship with the Registered Apprenticeship Standards Library</h1>
        <!-- <p class="max-w-xl mx-auto mb-6 font-light text-gray-500 lg:mx-0 xl:mb-8 md:text-lg xl:text-xl">Here we can include a subtitle to accompany the header text</p> -->
        <div class="max-w-lg lg:ml-0 mx-auto">
          <%= render partial: "shared/search_form", locals: {show_filter: false} %>
        </div>
      </div>
    </div>
  </div>
</section>
<% if Flipper.enabled?(:updated_home) %>
  <section aria-labelledby="section-title" class="bg-seafoam-50">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="mb-8 lg:mb-16 flex justify-between">
        <h2 class="section-title mb-4 text-4xl tracking-tight font-bold text-gray-900">Popular Industries</h2>
          <%= link_to home_page_path, class: "font-bold text-accent-50 sm:text-lg uppercase" do %>
            See All
            <svg aria-label="right arrow" class="inline mb-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-arrow-right"><path d="M5 12h14M12 5l7 7-7 7" /></svg>
          <% end %>
      </div>
      <div class="text-center space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">
        <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
          <div class="mx-auto flex justify-center items-center mb-4 w-18 h-18 rounded-full bg-accent-200 lg:h-20 lg:w-20">
            <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.3333 5.25H1.58325V25.8333H25.3333V5.25Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M25.3333 13.1667H31.6666L36.4166 17.9167V25.8334H25.3333V13.1667Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.70833 33.7499C10.8945 33.7499 12.6667 31.9777 12.6667 29.7916C12.6667 27.6055 10.8945 25.8333 8.70833 25.8333C6.52221 25.8333 4.75 27.6055 4.75 29.7916C4.75 31.9777 6.52221 33.7499 8.70833 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M29.2916 33.7499C31.4777 33.7499 33.2499 31.9777 33.2499 29.7916C33.2499 27.6055 31.4777 25.8333 29.2916 25.8333C27.1055 25.8333 25.3333 27.6055 25.3333 29.7916C25.3333 31.9777 27.1055 33.7499 29.2916 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <h3 class="text-xl font-bold">Trucking</h3>
          <p class="font-bold text-accent-100">000 Apprenticeships</p>
        </div>

        <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
          <div class="mx-auto flex justify-center items-center mb-4 w-18 h-18 rounded-full bg-accent-200 lg:h-20 lg:w-20">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.3023 8.62445V8.09944L14.8823 7.78444L7.3827 2.15999L6.6542 1.61363L6.01027 2.25752L2.26048 6.00716L1.61651 6.6511L2.16294 7.37965L7.78763 14.8789L8.10263 15.2989H8.62762H11.8312L12.8697 16.3374L12.2851 16.9223L3.35613 25.8568C1.48129 27.7315 1.48129 30.7692 3.35613 32.644C5.23093 34.5187 8.26865 34.5187 10.1435 32.644L17.3852 25.4025L17.7039 25.0839C17.9373 25.4973 18.2304 25.8869 18.5838 26.2403L25.4447 33.1009C26.7083 34.3644 28.7566 34.3686 30.0183 33.0999C30.0189 33.0994 30.0194 33.0989 30.0199 33.0984L33.1051 30.0134L33.1076 30.0108C34.3624 28.7474 34.3661 26.7018 33.1051 25.4408L27.9503 20.2862L28.3827 20.0974C29.4128 19.6476 30.4053 19.0151 31.2712 18.1493C33.7156 15.705 34.5445 12.2655 33.7688 9.14631C33.4405 7.81027 31.7831 7.37925 30.8292 8.3331L26.852 12.3101L24.1468 11.8599L23.6966 9.15486L27.6737 5.17788C28.6496 4.20203 28.1601 2.56389 26.8546 2.23394L26.8546 2.23392L26.8489 2.23252C23.7311 1.46295 20.2909 2.29053 17.8514 4.72994C16.4811 6.10015 15.6416 7.78597 15.3023 9.5486V8.62445ZM6.75272 29.6036C6.55919 29.6036 6.39655 29.4409 6.39655 29.2474C6.39655 29.0482 6.55332 28.8913 6.75272 28.8913C6.95212 28.8913 7.10889 29.0482 7.10889 29.2474C7.10889 29.4437 6.94927 29.6036 6.75272 29.6036Z" stroke="#415262" stroke-width="2.1" />
            </svg>
          </div>
          <h3 class="text-xl font-bold">Building Trades</h3>
          <p class="font-bold text-accent-100">000 Apprenticeships</p>
        </div>

        <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
          <div class="mx-auto flex justify-center items-center mb-4 w-18 h-18 rounded-full bg-accent-200 lg:h-20 lg:w-20">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M52.1458 49.2921H45.8933L39.7433 33.9205H44.4583V35.6285C44.4583 35.8549 44.5483 36.0722 44.7085 36.2323C44.8687 36.3925 45.086 36.4824 45.3125 36.4824C45.539 36.4824 45.7563 36.3925 45.9165 36.2323C46.0767 36.0722 46.1667 35.8549 46.1667 35.6285V33.9205H47.0208C47.1942 33.9203 47.3634 33.8673 47.506 33.7685C47.6485 33.6698 47.7576 33.5301 47.8188 33.3679C47.88 33.2057 47.8904 33.0287 47.8485 32.8605C47.8067 32.6922 47.7146 32.5407 47.5846 32.426C39.6921 25.5174 40.8794 26.2347 39.3333 26.2347V17.695H41.0417V19.4029C41.0417 19.6294 41.1317 19.8466 41.2918 20.0068C41.452 20.1669 41.6693 20.2569 41.8958 20.2569C42.1224 20.2569 42.3396 20.1669 42.4998 20.0068C42.66 19.8466 42.75 19.6294 42.75 19.4029V17.695H44.4583V19.4029C44.4583 19.6294 44.5483 19.8466 44.7085 20.0068C44.8687 20.1669 45.086 20.2569 45.3125 20.2569C45.539 20.2569 45.7563 20.1669 45.9165 20.0068C46.0767 19.8466 46.1667 19.6294 46.1667 19.4029V17.695C47.0208 17.695 47.576 17.7889 47.8237 17.1399C47.8838 16.9775 47.8931 16.8008 47.8504 16.633C47.8077 16.4652 47.715 16.3144 47.5846 16.2005L40.7513 10.2227C40.4181 9.93235 41.6396 10.0092 24.8125 10.0092C24.3598 10.0092 24.8125 9.69324 17.4154 16.2005C17.2854 16.3152 17.1933 16.4667 17.1515 16.6349C17.1096 16.8032 17.12 16.9802 17.1812 17.1424C17.2424 17.3046 17.3515 17.4443 17.494 17.543C17.6366 17.6417 17.8058 17.6947 17.9792 17.695H18.8333V19.4029C18.8333 19.6294 18.9233 19.8466 19.0835 20.0068C19.2437 20.1669 19.461 20.2569 19.6875 20.2569C19.914 20.2569 20.1313 20.1669 20.2915 20.0068C20.4517 19.8466 20.5417 19.6294 20.5417 19.4029V17.695H22.25V19.4029C22.25 19.6294 22.34 19.8466 22.5002 20.0068C22.6604 20.1669 22.8776 20.2569 23.1042 20.2569C23.3307 20.2569 23.548 20.1669 23.7082 20.0068C23.8683 19.8466 23.9583 19.6294 23.9583 19.4029V17.695H25.6667V26.2347C24.7271 26.2347 24.5392 26.192 24.2487 26.4482C16.7662 32.9982 16.8944 32.6139 17.1763 33.3654C17.4581 34.1169 18.0475 33.9205 18.8333 33.9205V35.6285C18.8333 35.8549 18.9233 36.0722 19.0835 36.2323C19.2437 36.3925 19.461 36.4824 19.6875 36.4824C19.914 36.4824 20.1313 36.3925 20.2915 36.2323C20.4517 36.0722 20.5417 35.8549 20.5417 35.6285V33.9205H25.1969L18.2781 49.2921H12.8542C12.6276 49.2921 12.4104 49.382 12.2502 49.5422C12.09 49.7023 12 49.9195 12 50.146C12 50.3725 12.09 50.5897 12.2502 50.7499C12.4104 50.91 12.6276 51 12.8542 51H52.1458C52.3724 51 52.5896 50.91 52.7498 50.7499C52.91 50.5897 53 50.3725 53 50.146C53 49.9195 52.91 49.7023 52.7498 49.5422C52.5896 49.382 52.3724 49.2921 52.1458 49.2921ZM36.1729 17.695L32.5 20.8376L28.8271 17.695H36.1729ZM30.1425 15.987L32.5 14.8085L34.8575 15.987H30.1425ZM36.1729 26.2347H28.8271L32.5 23.0921L36.1729 26.2347ZM34.8575 27.9427L32.5 29.1212L30.1425 27.9427H34.8575ZM34.8575 32.2126H30.1425L32.5 31.0341L34.8575 32.2126ZM35.4469 33.9205L32.5 35.7224L29.5531 33.9205H35.4469ZM38.0606 34.3219L40.6231 40.6669L34.1656 36.7215L38.0606 34.3219ZM34.4133 30.052L37.625 28.4721V31.6831L34.4133 30.052ZM33.8154 21.9392L37.625 18.6941V25.2356L33.8154 21.9392ZM34.4133 13.8265L37.625 12.2466V15.4576L34.4133 13.8265ZM32.5 12.8956L30.1425 11.7172H34.8575L32.5 12.8956ZM30.5867 13.8521L27.375 15.4576V12.2466L30.5867 13.8521ZM31.1846 21.9649L27.375 25.2356V18.6941L31.1846 21.9649ZM30.5867 30.0776L27.375 31.6831V28.4721L30.5867 30.0776ZM30.86 36.7215L23.8985 40.9914L26.9052 34.3133L30.86 36.7215ZM32.5 37.7207L39.9398 42.2638L32.5 44.9709L25.0602 42.2638L32.5 37.7207ZM41.7079 43.4338L43.8348 48.754L35.0625 45.8762L41.7079 43.4338ZM44.7488 32.2126H39.3333V27.9427C40.085 27.9427 39.154 27.3193 44.7488 32.2126ZM44.7488 15.987H39.3333V11.7172C40.085 11.7172 39.154 11.0938 44.7488 15.987ZM20.2513 15.987C25.8546 11.0852 24.915 11.7172 25.6667 11.7172V15.987H20.2513ZM25.6667 27.9427V32.2126H20.2513C25.8546 27.3107 24.915 27.9427 25.6667 27.9427ZM22.8565 43.3142L29.835 45.8762L20.3879 48.7626L22.8565 43.3142ZM32.5 46.7728L40.0594 49.3348H24.4281L32.5 46.7728Z" fill="#415262" />
            </svg>

          </div>
          <h3 class="text-xl font-bold">Utility Electrical</h3>
          <p class="font-bold text-accent-100">000 Apprenticeships</p>
        </div>

        <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
          <div class="mx-auto flex justify-center items-center mb-4 w-18 h-18 rounded-full bg-accent-200 lg:h-20 lg:w-20">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5 19V39.3438L14.0781 42.8154C13.3986 43.4934 13 44.4291 13 45.3906C13 47.3706 14.6294 49 16.6094 49H51.3906C53.3706 49 55 47.3706 55 45.3906C55 44.4291 54.6014 43.492 53.9219 42.8125L50.5 39.3438V19H17.5ZM20.5 22H47.5V38.5H20.5V22ZM34 23.5L31.75 37H34L36.25 23.5H34ZM28.1289 26.5L25.5508 29.6025L25 30.25L25.5508 30.8975L28.1289 34L29.7578 32.7051L27.7158 30.25L29.7578 27.7949L28.1289 26.5ZM39.8711 26.5L38.2422 27.7949L40.2842 30.25L38.2422 32.7051L39.8711 34L42.4492 30.8975L43 30.25L42.4492 29.6025L39.8711 26.5ZM19.6562 41.5H48.3438L51.8125 44.9219C51.9295 45.0389 52 45.2256 52 45.3906C52 45.7536 51.7536 46 51.3906 46H16.6094C16.2464 46 16 45.7536 16 45.3906C16 45.2271 16.0705 45.0404 16.1875 44.9219L19.6562 41.5Z" fill="#415262" />
            </svg>
          </div>
          <h3 class="text-xl font-bold">Software & IT</h3>
          <p class="font-bold text-accent-100">000 Apprenticeships</p>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <%= render "old_home_featured_section" %>
<% end %>
