<section aria-label="hero section" class="occ-hero bg-no-repeat bg-cover bg-center bg-gray-700">
  <%= render partial: "layouts/nav" %>

  <div class="px-4 py-8 mx-auto lg:py-16">

    <div class="container mx-auto grid items-center gap-8 lg:gap-12 lg:grid-cols-12">
      <div class="col-span-6">
        <%= image_tag("icon-illustration.png", alt: "An illustration of industry-related icons") %>
      </div>
      <div class="col-span-6 text-center sm:mb-6 lg:text-left lg:mb-0">
        <h1 class="px-4 mb-3 text-3xl font-bold leading-none tracking-tight text-gray-100 md:text-4xl xl:text-5xl">Jumpstart Your Apprenticeship with the Registered Apprenticeship Standards Library</h1>
        <!-- <p class="max-w-xl mx-auto mb-6 font-light text-gray-500 lg:mx-0 xl:mb-8 md:text-lg xl:text-xl">Here we can include a subtitle to accompany the header text</p> -->
        <div class="max-w-lg lg:ml-0 mx-auto">
          <%= render partial: "shared/search_form", locals: {show_filter: false} %>
        </div>
      </div>
    </div>
  </div>
</section>
<section aria-labelledby="section-title" class="bg-accent-300">
  <div class="py-8 sm:py-16 px-4 lg:px-6 max-w-screen-xl mx-auto">
    <h2 class="section-title sr-only">Embedded video to introduce the Registered Apprenticeship Standards Library</h2>
    <iframe class="w-full md:w-3/4 lg:w-6/12 aspect-video mx-auto"
      src="https://www.youtube.com/embed/-cmdvkj0IV0">
    </iframe>
  </div>
</section>
<section aria-labelledby="section-title" class="bg-accent-300">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mb-8 lg:mb-16 flex justify-between">
      <h2 class="section-title mb-4 text-4xl tracking-tight font-bold text-gray-900">Active States</h2>
        <%= link_to states_path, class: "font-bold text-accent-50 sm:text-lg uppercase" do %>
          See All
          <svg aria-label="right arrow" class="inline mb-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-arrow-right"><path d="M5 12h14M12 5l7 7-7 7" /></svg>
        <% end %>
    </div>
    <div class="text-center space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">
      <% @popular_states.each do |state| %>
        <%= link_to occupation_standards_path(q: "state:#{state.abbreviation}"), id: state.name.downcase do %>
          <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
            <div class="mx-auto flex justify-center items-center mb-4 w-20 h-20 rounded-full bg-accent-200">
              <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.3333 5.25H1.58325V25.8333H25.3333V5.25Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25.3333 13.1667H31.6666L36.4166 17.9167V25.8334H25.3333V13.1667Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8.70833 33.7499C10.8945 33.7499 12.6667 31.9777 12.6667 29.7916C12.6667 27.6055 10.8945 25.8333 8.70833 25.8333C6.52221 25.8333 4.75 27.6055 4.75 29.7916C4.75 31.9777 6.52221 33.7499 8.70833 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M29.2916 33.7499C31.4777 33.7499 33.2499 31.9777 33.2499 29.7916C33.2499 27.6055 31.4777 25.8333 29.2916 25.8333C27.1055 25.8333 25.3333 27.6055 25.3333 29.7916C25.3333 31.9777 27.1055 33.7499 29.2916 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <h3 class="text-xl font-bold text-primary-700"><%= state.name %></h3>
            <p class="font-bold text-accent-100"><%= state.occupation_standards_count %> Apprenticeships</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<!-- Popular types -->
<section aria-labelledby="section-title" class="bg-accent-300">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mb-8 lg:mb-16 flex justify-between">
      <h2 class="section-title mb-4 text-4xl tracking-tight font-bold text-gray-900">Popular Types</h2>
    </div>
    <div class="text-center space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">
      <%= link_to occupation_standards_path(national_standard_type: {guideline_standard: 1}), id: "guideline-standards" do %>
        <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
          <div class="mx-auto flex justify-center items-center mb-4 w-20 h-20 rounded-full bg-accent-200">
            <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.3333 5.25H1.58325V25.8333H25.3333V5.25Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M25.3333 13.1667H31.6666L36.4166 17.9167V25.8334H25.3333V13.1667Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.70833 33.7499C10.8945 33.7499 12.6667 31.9777 12.6667 29.7916C12.6667 27.6055 10.8945 25.8333 8.70833 25.8333C6.52221 25.8333 4.75 27.6055 4.75 29.7916C4.75 31.9777 6.52221 33.7499 8.70833 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M29.2916 33.7499C31.4777 33.7499 33.2499 31.9777 33.2499 29.7916C33.2499 27.6055 31.4777 25.8333 29.2916 25.8333C27.1055 25.8333 25.3333 27.6055 25.3333 29.7916C25.3333 31.9777 27.1055 33.7499 29.2916 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <h3 class="text-xl font-bold text-primary-700">National Guidelines</h3>
          <p class="font-bold text-accent-100"><%= OccupationStandard.by_national_standard_type(:guideline_standard).count %> Apprenticeships</p>
        </div>
      <% end %>
      <%= link_to occupation_standards_path(national_standard_type: {occupational_framework: 1}), id: "occupational-frameworks" do %>
        <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
          <div class="mx-auto flex justify-center items-center mb-4 w-20 h-20 rounded-full bg-accent-200">
            <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.3333 5.25H1.58325V25.8333H25.3333V5.25Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M25.3333 13.1667H31.6666L36.4166 17.9167V25.8334H25.3333V13.1667Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.70833 33.7499C10.8945 33.7499 12.6667 31.9777 12.6667 29.7916C12.6667 27.6055 10.8945 25.8333 8.70833 25.8333C6.52221 25.8333 4.75 27.6055 4.75 29.7916C4.75 31.9777 6.52221 33.7499 8.70833 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M29.2916 33.7499C31.4777 33.7499 33.2499 31.9777 33.2499 29.7916C33.2499 27.6055 31.4777 25.8333 29.2916 25.8333C27.1055 25.8333 25.3333 27.6055 25.3333 29.7916C25.3333 31.9777 27.1055 33.7499 29.2916 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <h3 class="text-xl font-bold text-primary-700">Occupational Frameworks</h3>
          <p class="font-bold text-accent-100"><%= OccupationStandard.by_national_standard_type(:occupational_framework).count %> Apprenticeships</p>
        </div>
      <% end %>
      <%= link_to occupation_standards_path(ojt_type: {time: 1}) do %>
        <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
          <div class="mx-auto flex justify-center items-center mb-4 w-20 h-20 rounded-full bg-accent-200">
            <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.3333 5.25H1.58325V25.8333H25.3333V5.25Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M25.3333 13.1667H31.6666L36.4166 17.9167V25.8334H25.3333V13.1667Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.70833 33.7499C10.8945 33.7499 12.6667 31.9777 12.6667 29.7916C12.6667 27.6055 10.8945 25.8333 8.70833 25.8333C6.52221 25.8333 4.75 27.6055 4.75 29.7916C4.75 31.9777 6.52221 33.7499 8.70833 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M29.2916 33.7499C31.4777 33.7499 33.2499 31.9777 33.2499 29.7916C33.2499 27.6055 31.4777 25.8333 29.2916 25.8333C27.1055 25.8333 25.3333 27.6055 25.3333 29.7916C25.3333 31.9777 27.1055 33.7499 29.2916 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <h3 class="text-xl font-bold text-primary-700">Time Based Occupations</h3>
          <p class="font-bold text-accent-100"><%= OccupationStandard.by_ojt_type(:time).count %> Apprenticeships</p>
        </div>
      <% end %>
      <%= link_to occupation_standards_path(ojt_type: {competency: 1}) do %>
        <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
          <div class="mx-auto flex justify-center items-center mb-4 w-20 h-20 rounded-full bg-accent-200">
            <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.3333 5.25H1.58325V25.8333H25.3333V5.25Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M25.3333 13.1667H31.6666L36.4166 17.9167V25.8334H25.3333V13.1667Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.70833 33.7499C10.8945 33.7499 12.6667 31.9777 12.6667 29.7916C12.6667 27.6055 10.8945 25.8333 8.70833 25.8333C6.52221 25.8333 4.75 27.6055 4.75 29.7916C4.75 31.9777 6.52221 33.7499 8.70833 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M29.2916 33.7499C31.4777 33.7499 33.2499 31.9777 33.2499 29.7916C33.2499 27.6055 31.4777 25.8333 29.2916 25.8333C27.1055 25.8333 25.3333 27.6055 25.3333 29.7916C25.3333 31.9777 27.1055 33.7499 29.2916 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <h3 class="text-xl font-bold text-primary-700">Competency Based Occupations</h3>
          <p class="font-bold text-accent-100"><%= OccupationStandard.by_ojt_type(:competency).count %> Apprenticeships</p>
        </div>
      <% end %>
    </div>
  <div>
</section>

<section aria-labelledby="section-title" class="bg-accent-300">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mb-8 lg:mb-16 flex justify-between">
      <h2 class="section-title mb-4 text-4xl tracking-tight font-bold text-gray-900">Popular Industries</h2>
        <%= link_to industries_path, class: "font-bold text-accent-50 sm:text-lg uppercase" do %>
          See All
          <svg aria-label="right arrow" class="inline mb-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-arrow-right"><path d="M5 12h14M12 5l7 7-7 7" /></svg>
        <% end %>
    </div>
    <div class="text-center space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">
      <% @popular_industries.each do |industry| %>
        <%= link_to occupation_standards_path(q: industry.name), id: "industry-#{industry.id}" do %>
          <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
            <div class="mx-auto flex justify-center items-center mb-4 w-20 h-20 rounded-full bg-accent-200">
              <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.3333 5.25H1.58325V25.8333H25.3333V5.25Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25.3333 13.1667H31.6666L36.4166 17.9167V25.8334H25.3333V13.1667Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8.70833 33.7499C10.8945 33.7499 12.6667 31.9777 12.6667 29.7916C12.6667 27.6055 10.8945 25.8333 8.70833 25.8333C6.52221 25.8333 4.75 27.6055 4.75 29.7916C4.75 31.9777 6.52221 33.7499 8.70833 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M29.2916 33.7499C31.4777 33.7499 33.2499 31.9777 33.2499 29.7916C33.2499 27.6055 31.4777 25.8333 29.2916 25.8333C27.1055 25.8333 25.3333 27.6055 25.3333 29.7916C25.3333 31.9777 27.1055 33.7499 29.2916 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <h3 class="text-xl font-bold text-primary-700"><%= industry.name %></h3>
            <p class="font-bold text-accent-100"><%= industry.occupation_standards.with_work_processes.count %> Apprenticeships</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<section aria-labelledby="section-title" class="bg-accent-300">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mb-8 lg:mb-16 flex justify-between">
      <h2 class="section-title mb-4 text-4xl tracking-tight font-bold text-gray-900">Popular Occupations</h2>
      <%= link_to occupation_standards_path, class: "font-bold text-accent-50 sm:text-lg uppercase" do %>
        See All
        <svg aria-label="right arrow" class="inline mb-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-arrow-right"><path d="M5 12h14M12 5l7 7-7 7" /></svg>
      <% end %>
    </div>
    <div class="text-center space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">
      <% @popular_onet_codes.each do |onet_code| %>
        <% occupation_standards = OccupationStandard.where(onet_code: onet_code) %>
        <%= link_to occupation_standards_path(q: onet_code) do %>
          <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
            <div class="mx-auto flex justify-center items-center mb-4 w-20 h-20 rounded-full bg-accent-200">
              <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.3333 5.25H1.58325V25.8333H25.3333V5.25Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M25.3333 13.1667H31.6666L36.4166 17.9167V25.8334H25.3333V13.1667Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8.70833 33.7499C10.8945 33.7499 12.6667 31.9777 12.6667 29.7916C12.6667 27.6055 10.8945 25.8333 8.70833 25.8333C6.52221 25.8333 4.75 27.6055 4.75 29.7916C4.75 31.9777 6.52221 33.7499 8.70833 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M29.2916 33.7499C31.4777 33.7499 33.2499 31.9777 33.2499 29.7916C33.2499 27.6055 31.4777 25.8333 29.2916 25.8333C27.1055 25.8333 25.3333 27.6055 25.3333 29.7916C25.3333 31.9777 27.1055 33.7499 29.2916 33.7499Z" stroke="#415262" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <h3 class="text-xl font-bold text-primary-700"><%= occupation_standards.first.title %></h3>
            <p class="font-bold text-accent-100"><%= occupation_standards.count %> Apprenticeships</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<!-- Recently added -->
<% if Flipper.enabled?(:show_recently_added_section) %>
  <section aria-labelledby="section-title" class="bg-accent-300">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="mb-8 lg:mb-16 flex justify-between">
        <h2 class="section-title mb-4 text-4xl tracking-tight font-bold text-gray-900">Recently Added</h2>
        <%= link_to occupation_standards_path(sort: :created_at), class: "font-bold text-accent-50 sm:text-lg uppercase" do %>
          See All
          <svg aria-label="right arrow" class="inline mb-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-arrow-right"><path d="M5 12h14M12 5l7 7-7 7" /></svg>
        <% end %>
      </div>
      <div class="text-center space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">
        <% @recently_added_occupation_standards.each do |occupation_standard| %>
          <%= link_to occupation_standard_path(occupation_standard) do %>
            <div class="p-6 hover:bg-white rounded-lg hover:shadow-xl">
              <div class="mx-auto flex justify-center items-center mb-4 w-20 h-20 rounded-full bg-accent-200">
                <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 11.9999H12V10.1449L20 12.0269L28 10.1449V11.9999H30V9.6739L34 8.7329V20.8049L32 25.8049V28.9999H38V25.8079L36 20.8079V8.2629L38 7.7919V5.2079L20 0.9729L2 5.2079V7.7919L10 9.6739V11.9999ZM36 26.9999H34V26.1999L35 23.6999L36 26.1999V26.9999ZM20 3.0269L34.759 6.4999L20 9.9729L5.241 6.4999L20 3.0269ZM12 16.9999C12 16.8021 12.0586 16.6088 12.1685 16.4443C12.2784 16.2799 12.4346 16.1517 12.6173 16.076C12.8 16.0003 13.0011 15.9805 13.1951 16.0191C13.3891 16.0577 13.5673 16.1529 13.7071 16.2928C13.847 16.4326 13.9422 16.6108 13.9808 16.8048C14.0194 16.9988 13.9996 17.1999 13.9239 17.3826C13.8482 17.5653 13.72 17.7215 13.5556 17.8314C13.3911 17.9413 13.1978 17.9999 13 17.9999C12.7348 17.9999 12.4804 17.8945 12.2929 17.707C12.1054 17.5195 12 17.2651 12 16.9999ZM12 20.9999C12 20.8021 12.0586 20.6088 12.1685 20.4443C12.2784 20.2799 12.4346 20.1517 12.6173 20.076C12.8 20.0003 13.0011 19.9805 13.1951 20.0191C13.3891 20.0577 13.5673 20.1529 13.7071 20.2928C13.847 20.4326 13.9422 20.6108 13.9808 20.8048C14.0194 20.9988 13.9996 21.1999 13.9239 21.3826C13.8482 21.5653 13.72 21.7215 13.5556 21.8314C13.3911 21.9413 13.1978 21.9999 13 21.9999C12.7348 21.9999 12.4804 21.8945 12.2929 21.707C12.1054 21.5195 12 21.2651 12 20.9999ZM26 16.9999C26 16.8021 26.0586 16.6088 26.1685 16.4443C26.2784 16.2799 26.4346 16.1517 26.6173 16.076C26.8 16.0003 27.0011 15.9805 27.1951 16.0191C27.3891 16.0577 27.5673 16.1529 27.7071 16.2928C27.847 16.4326 27.9422 16.6108 27.9808 16.8048C28.0194 16.9988 27.9996 17.1999 27.9239 17.3826C27.8482 17.5653 27.72 17.7215 27.5556 17.8314C27.3911 17.9413 27.1978 17.9999 27 17.9999C26.7348 17.9999 26.4804 17.8945 26.2929 17.707C26.1054 17.5195 26 17.2651 26 16.9999ZM26 20.9999C26 20.8021 26.0586 20.6088 26.1685 20.4443C26.2784 20.2799 26.4346 20.1517 26.6173 20.076C26.8 20.0003 27.0011 19.9805 27.1951 20.0191C27.3891 20.0577 27.5673 20.1529 27.7071 20.2928C27.847 20.4326 27.9422 20.6108 27.9808 20.8048C28.0194 20.9988 27.9996 21.1999 27.9239 21.3826C27.8482 21.5653 27.72 21.7215 27.5556 21.8314C27.3911 21.9413 27.1978 21.9999 27 21.9999C26.7348 21.9999 26.4804 21.8945 26.2929 21.707C26.1054 21.5195 26 21.2651 26 20.9999ZM32.191 34.0449C28.728 33.1539 26.563 32.4139 26.066 30.1559C26.8711 28.9709 27.5046 27.6781 27.948 26.3159L28 26.1619V24.9999C28.5391 25.0563 29.0841 24.9916 29.595 24.8105C30.106 24.6294 30.57 24.3365 30.9533 23.9532C31.3366 23.5699 31.6295 23.1059 31.8106 22.5949C31.9917 22.084 32.0564 21.539 32 20.9999V16.9999C32.0564 16.4608 31.9917 15.9158 31.8106 15.4049C31.6295 14.8939 31.3366 14.4299 30.9533 14.0466C30.57 13.6633 30.106 13.3704 29.595 13.1893C29.0841 13.0082 28.5391 12.9435 28 12.9999H12C11.4609 12.9435 10.9159 13.0082 10.405 13.1893C9.89404 13.3704 9.42998 13.6633 9.04667 14.0466C8.66336 14.4299 8.37048 14.8939 8.1894 15.4049C8.00832 15.9158 7.94361 16.4608 8 16.9999V20.9999C7.94361 21.539 8.00832 22.084 8.1894 22.5949C8.37048 23.1059 8.66336 23.5699 9.04667 23.9532C9.42998 24.3365 9.89404 24.6294 10.405 24.8105C10.9159 24.9916 11.4609 25.0563 12 24.9999V26.1619L12.052 26.3159C12.4954 27.6781 13.1289 28.9709 13.934 30.1559C13.434 32.4139 11.272 33.1559 7.809 34.0449C4.33 34.9399 0 36.0539 0 40.9999H2C2 37.7689 4.4 36.9879 8.307 35.9819C9.41041 35.719 10.4981 35.3941 11.565 35.0089C12.6318 36.1869 13.9335 37.1283 15.3863 37.7727C16.8391 38.417 18.4107 38.7498 20 38.7498C21.5893 38.7498 23.1609 38.417 24.6137 37.7727C26.0665 37.1283 27.3682 36.1869 28.435 35.0089C29.5019 35.3941 30.5896 35.719 31.693 35.9819C35.6 36.9879 38 37.7689 38 40.9999H40C40 36.0539 35.67 34.9399 32.191 34.0449ZM10 20.9999V16.9999C10 15.5609 10.561 14.9999 12 14.9999H28C29.439 14.9999 30 15.5609 30 16.9999V20.9999C30 22.4389 29.439 22.9999 28 22.9999H22.414L21.414 21.9999H18.586L17.586 22.9999H12C10.561 22.9999 10 22.4389 10 20.9999ZM18.414 24.9999L19.414 23.9999H20.586L21.586 24.9999H26V25.8349C25.445 27.4349 23.925 30.8779 20.831 31.9999H19.169C16.075 30.8779 14.555 27.4369 14 25.8349V24.9999H18.414ZM20 36.7499C18.7822 36.7634 17.5738 36.5349 16.445 36.0778C15.3161 35.6207 14.2893 34.944 13.424 34.0869C14.2785 33.5594 14.9742 32.8102 15.437 31.9189C16.3547 32.8284 17.4636 33.5219 18.683 33.9489L18.837 33.9999H21.161L21.315 33.9489C22.5344 33.5219 23.6433 32.8284 24.561 31.9189C25.0238 32.8102 25.7195 33.5594 26.574 34.0869C25.7089 34.9437 24.6824 35.6203 23.554 36.0774C22.4255 36.5345 21.2175 36.7631 20 36.7499Z" fill="black" />
                </svg>
              </div>
              <h3 class="text-xl font-bold text-primary-700"><%= occupation_standard.title %></h3>
              <p class="font-bold text-accent-100">Added <%= time_ago_in_words(occupation_standard.created_at) %> ago</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
