<section aria-labelledby="page-title" class="bg-[url('/assets/header-background.png')] bg-no-repeat bg-cover bg-center bg-gray-700">
  <%= render partial: "layouts/nav" %>
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16">

    <! -- If Content Page -->
    <!-- <h1 class="page-title" mb-3 text-3xl font-bold leading-none tracking-tight text-gray-100 md:text-4xl xl:text-5xl dark:text-white">Page Title</h1> -->

    <! -- If Occupation Standards Page -->
    <div class="mb-8 lg:mb-16">
      <div class="items-center text-center sm:mb-6 lg:text-left lg:mb-0">
        <%= form_with url: occupation_standards_path, method: :get, class: "max-w-lg mx-auto" do |f| %>
          <%= f.label :q, class: "mb-2 text-sm font-medium text-white sr-only" %>
          <div class="relative">
            <%= f.text_field :q, class: "block w-full p-2 text-sm text-gray-900 border border-gray-300  bg-gray-50 focus:ring-primary-500 focus:border-primary-500", placeholder: "Search by occupation name, O*NET, or industry", autocomplete: :off %>
            <%= f.button "", class: "text-white inline-flex items-center absolute right-0 bottom-0 bg-seafoam-700 hover:bg-seafoam-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium text-sm px-4 py-2" do %>
              <svg aria-label="search icon" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
