<tr class="border-b">
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= link_to occupation_standard.title, occupation_standard, class: "underline" %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= occupation_standard.occupation %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= occupation_standard.registration_agency %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= occupation_standard.occupation.onet_code || occupation_standard.onet_code %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= occupation_standard.status.titleize %>
  </td>
</tr>
