<div class="accordion w-full mx-auto">
    <% work_processes.each do |work_process| %>

        <details class="w-full bg-white border-b-2 border-seafoam-300 cursor-pointer">
            <summary class="w-full items-center bg-seafoam-200 flex space-x-4 px-4 py-2 before:content-['+'] before:mr-4 before:font-bold before:text-3xl before:text-secondary-600">
                <div class="flex w-full items-center justify-between">
                    <div class="space-x-3 flex-col md:flex-row">
                        <span class="skill-title text-xl text-primary-900 font-bold"><%= work_process.title %></span>
                        <span class="skill-code text-primary-600"></span>
                    </div>

                    <div class="flex items-center">
                        <div class="flex flex-col md:flex-row">
                            <% if work_process.competencies_count.positive? %>
                                <div class="m-1.5 w-28 rounded bg-yonder-100 px-1 py-3 text-center">
                                    <div class="text-3xl font-bold text-yonder-600"><%= work_process.competencies_count %></div>
                                </div>
                            <% end %>
                            <% if work_process.hours.present? && work_process.occupation_standard_work_processes_hours.positive? %>
                                <div class="m-1.5 w-28 rounded bg-rust-100 px-1 py-3 text-center">
                                    <div class="text-3xl font-bold text-rust-800"><%= hours_in_human_format(work_process.hours) %></div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </summary>
            <div class="accordion-content space-y-4 p-8 text-primary-600">
                <p>
                    <%= work_process.description %>
                </p>
                <ol class="list-decimal list-inside space-y-1" role="list">
                    <% work_process.competencies.each do |competency| %>
                        <li><%= strip_tags competency.title %></li>
                    <% end %>
                </ol>
            </div>
        </details>
    <% end %>
</div>
