<% related_instructions.each do |related_instruction| %>
  <%= render "accordion", record: related_instruction do %>

    <%= render "accordion_summary", record: related_instruction do %>
      <div class="m-1.5 w-28 rounded-xs bg-pear-100 px-1 py-3 text-center <%= related_instruction_hours_display_class(related_instruction) %>">
        <div class="text-3xl font-bold text-pear-700">
          <%= hours_in_human_format(related_instruction.hours) %>
        </div>
      </div>
    <% end %>

    <%= render "accordion_details", record: related_instruction do %>
      <p><%= related_instruction.description %></p>
    <% end %>

  <% end %>
<% end %>
