<div
  data-controller="modal"
  data-modal-target="modal"
  role="dialog"
  aria-hidden="true"
  aria-modal="true"
  id="survey-modal"
  tabindex="-1"
  aria-labelledby="modal-title"
  aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0">
  <div class="relative max-h-full w-full max-w-2xl">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow-xs dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between rounded-t border-b p-5 dark:border-gray-600">
        <h3
          class="text-xl font-semibold text-gray-900 dark:text-white lg:text-2xl"
          id="modal-title">
          Apprenticeship Standard Survey
        </h3>

        <%= button_to dismiss_surveys_path(format: :html),
              class: "ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white",
              id: "dismiss-modal",
              method: :post,
              data: {
                turbo: false
              } do %>

          <svg
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        <% end %>
      </div>
      <!-- Modal body -->
      <%= form_for survey, class: "space-y-4" do |form| %>
        <div class="space-y-6 p-6">
          <p
            class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
            The team behind the Registered Apprenticeship Standards Library wants to learn how to better support your apprenticeship needs. Can you tell us a bit about yourself so we can follow up for more info? Thanks!.
          </p>
          <div>
            <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", required: true %>
          </div>
          <div>
            <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= form.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder: "name@company.com", required: true %>
          </div>
          <div>
            <%= form.label :organization, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= form.text_field :organization, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", required: true %>
          </div>
        </div>

        <!-- Modal footer -->
        <div
          class="flex items-center space-x-2 rtl:space-x-reverse rounded-b border-t border-gray-200 p-6 dark:border-gray-600">
          <%= form.submit "Submit", class: "rounded-lg  px-5 py-2.5 text-center text-sm font-medium text-white bg-seafoam-700 hover:bg-seafoam-800 focus:ring-4 focus:outline-hidden focus:ring-primary-300" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
