<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<header class="main-content__header">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <% if params[:ready_for_redaction] %>
      <%= link_to(
            "Show all files",
            admin_source_files_path,
            class: "button"
          ) %>
  <% else %>
    <%= link_to(
          "Only show files ready for redaction",
          url_for(ready_for_redaction: true),
          class: "button"
        ) %>
    <% end %>
  </div>

  <% if show_search_bar %>
    <%= render(
          "search",
          search_term: search_term,
          resource_name: display_resource_name(page.resource_name)
        ) %>
  <% end %>

  <div>
    <% if current_user.admin? %>
      <%= link_to(
            "New source file",
            new_standards_import_path,
            class: "button"
          ) %>
    <% end %>
  </div>
</header>
