<h1>Edit <%= @data_import.file.filename %></h1>

<%= form_with model: [@file_import, @data_import], class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |f| %>
  <div class="mb-4">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_field :description, class: "form-field" %>
  </div>
  <div>
    <%= f.submit "Update", class: "btn-primary" %>
    <%= link_to "Cancel", :back, class: "btn-secondary" %>
  </div>
<% end %>
