<div class="my-10 grid grid-cols-2">
  <div>
    <h3 class="w-full max-w-prose mx-auto text-left font-semibold text-xl mb-4">Source File</h3>
    <%= link_to @occupation_standard.source_file.filename, @occupation_standard.source_file.url, class: "text-blue-600 hover:text-blue-800 visited:text-purple-600" %>
  </div>
  <div>
    <h3 class="w-full max-w-prose mx-auto text-left font-semibold text-xl mb-4">Data Import(s)</h3>
    <%= link_to @occupation_standard.data_import.file.filename, url_for(@occupation_standard.data_import.file), class: "text-blue-600 hover:text-blue-800 visited:text-purple-600" %>
  </div>
</div>

<section id="work-processes" class="mb-10">
  <h3 class="w-full max-w-prose text-left font-semibold text-xl mb-4">Work Processes</h3>
  <%= render partial: "work_processes/table", locals: {work_processes: @occupation_standard.work_processes} %>
</section>

<section id="related-instruction" class="mb-10">
  <h3 class="w-full max-w-prose text-left font-semibold text-xl mb-4">Related Instructions</h3>
  <%= render partial: "related_instructions/table", locals: {related_instructions: @occupation_standard.related_instructions} %>
</section>

<section id="wage-schedule" class="mb-10">
  <h3 class="w-full max-w-prose text-left font-semibold text-xl mb-4">Wage Schedule</h3>
  <%= render partial: "wage_steps/table", locals: {wage_steps: @occupation_standard.wage_steps} %>
</section>
