<footer class="bg-primary-900">
  <div class="p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:-10">
      <div class="grid grid-cols-2 gap-8 lg:grid-cols-6">
          <div class="col-span-5">
              <%= link_to "ApprenticeshipStandards.org", home_page_path, class: "flex items-center mb-2 text-2xl font-semibold sm:mb-0 text-white" %>
              <p class="my-4 font-light text-gray-100">
                The Registered Apprenticeship Standards Library is developed
                through the Urban Institute’s <%= link_to "Registered Apprenticeship
                Occupations and Standards Center of Excellence", "https://www.urban.org/policy-centers/center-labor-human-services-and-population/projects/registered-apprenticeship-occupations-and-standards-center-excellence", class: "underline" %>. This project has
                been funded, either wholly or in part, with federal funds from
                the Department of Labor, Employment and Training Administration
                under Cooperative Grant Number AP-36653-21-75-A-11. The contents
                of this publication do not necessarily reflect the views or
                policies of the Department of Labor, nor does mention of trade
                names, commercial products, or organizations imply endorsement
                of the same by the US Government.
              </p>

          </div>
          <div class="lg:mx-auto">
              <!-- <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Company</h2> -->
              <ul class="text-gray-200">
                  <li class="mb-4">
                      <%= link_to "About", about_page_path, class: "hover:underline" %>
                  </li>
                  <li class="mb-4">
                      <%= link_to "Definitions", definitions_page_path, class: "hover:underline" %>
                  </li>
                  <li class="mb-4">
                      <%= link_to "Contact", contact_page_path, class: "hover:underline" %>
                  </li>
                  <li class="mb-4">
                    <%= link_to "Developers", "https://developers.apprenticeshipstandards.org", class: "hover:underline" %>
                  </li>
                  <li class="mb-4">
                      <%= link_to "Privacy/Terms", terms_page_path, class: "hover:underline" %>
                  </li>
                  <li class="mb-4">
                      <%= link_to "Fact Sheets", fact_sheets_page_path, class: "hover:underline" %>
                  </li>
              </ul>
          </div>

      </div>
      <hr class="my-6 sm:mx-auto border-gray-600 lg:my-8">
      <span class="block text-sm text-center text-primary-200">© 2022-<%= Time.current.year %> <%= link_to "ApprenticeshipStandards.org", home_page_path, class: "hover:underline" %>. All Rights Reserved.</span>
  </div>

  <% if session[:cookies_accepted].nil? %>
    <%= render "shared/cookies_banner" %>
  <% end %>
</footer>
