<nav aria-label="navigation" class="md:bg-transparent bg-[#38656c] px-2 sm:px-4 py-2.5" role="navigation">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <%= link_to home_page_path, class: "flex items-center" do %>
        <span class="self-center text-xl font-semibold whitespace-nowrap text-white">ApprenticeshipStandards.org</span>
      <% end %>
        <button data-collapse-toggle="navbar-default" type="button" class="ml-3 inline-flex items-center rounded-lg p-2 text-sm text-white focus:outline-none focus:ring-2 hover:bg-primary-700 focus:ring-primary-600 md:hidden" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col items-center p-4 mt-4 bg-[#33575e] md:bg-transparent rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <%= content_tag(:li, link_to("Home", home_page_path, class: class_names("block py-3 px-4 text-white"), "aria-current": "page"), class: class_names("block lg:inline hover:shadow-[0_3px_0_0_rgba(249,111,0,1)]", {active: current_page?(home_page_path)})) %>
                <!--
                <li class="block lg:inline hover:shadow-[0_3px_0_0_rgba(249,111,0,1)]">
                  <%= link_to "Industry", home_page_path, class: "block py-3 px-4 text-white", "aria-current": "page" %>
                </li>
                -->
                <%= content_tag(:li, link_to("Occupations", occupation_standards_path, class: class_names("block py-3 px-4 text-white"), "aria-current": "page"), class: class_names("block lg:inline hover:shadow-[0_3px_0_0_rgba(249,111,0,1)]", {active: current_page?(occupation_standards_path)})) %>
                <%= content_tag(:li, link_to("State", state_standards_path, class: class_names("block py-3 px-4 text-white"), "aria-current": "page"), class: class_names("block lg:inline hover:shadow-[0_3px_0_0_rgba(249,111,0,1)]", {active: current_page?(state_standards_path)})) %>
                <%= content_tag(:li, link_to("National", national_standards_path, class: class_names("block py-3 px-4 text-white"), "aria-current": "page"), class: class_names("block lg:inline hover:shadow-[0_3px_0_0_rgba(249,111,0,1)]", {active: current_page?(national_standards_path)})) %>
                <li>
                  <span class="block w-0 h-0 md:h-6 md:w-px bg-seafoam-400"></span>
                </li>
                <%= content_tag(:li, link_to("Get Involved", home_page_path, class: class_names("block py-3 px-4 text-white"), "aria-current": "page"), class: class_names("block lg:inline hover:shadow-[0_3px_0_0_rgba(249,111,0,1)]", {active: current_page?(home_page_path)})) %>
            </ul>
        </div>
    </div>
</nav>
