<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title ? @page_title + " - ApprenticeshipStandardsDotOrg" : "ApprenticeshipStandardsDotOrg" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= render partial: "layouts/google_analytics" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render partial: "layouts/alerts" %>
    <main class="container-full mx-auto">
      <%= yield %>
    </main>
    <% unless request.subdomain.match?("admin") %>
      <%= render partial: "layouts/footer" %>
    <% end %>
  </body>
</html>
