<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ApprenticeshipStandardsDotOrg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= render partial: "layouts/google_analytics" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <% if user_signed_in? %>
      <%= render partial: "layouts/header" %>
    <% end %>
    <%= render partial: "layouts/alerts" %>
    <main class="container-full mx-auto">
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
