<div class="flex flex-col w-full mx-auto">
  <h1 class="w-full max-w-prose mx-auto text-center">Edit <%= resource_name.to_s.humanize %></h1>
  <div class="w-full max-w-prose mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-4">
        <%= f.label :password, class: "form-label" %> <i>(leave blank if you don't want to change it)</i><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-field" %>
        <% if @minimum_password_length %>
          <br>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, label: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field" %>
      </div>

      <div class="mb-4">
        <%= f.label :current_password, class: "form-label" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-field" %>
      </div>

      <div class="actions flex">
        <%= f.submit "Update", class: "btn-primary self-stretch mr-3" %>
        <%= link_to "Cancel", :back, class: "self-stretch outline outline-gray-400 bg-white hover:bg-gray-200 text-blue-500 font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
</div>
